{% extends 'shop/base.html' %}

{% block title %}
OneTime
{% endblock title %}

{% block content %}
    <div class="container">
        <div class="mt-5  mb-5 p-5 bg-dark text-white rounded">
            <h1>OneTime Shop</h1> 
        </div>
        <div class="m-5">
            
            <h3 class="pb-3 text-muted " >Ласкаво просимо в OneTime - інтернет-магазин одноразових електронних сигарет, який забезпечує наших клієнтів зручним і надійним способом отримання максимальної насолоди від вейпінгу.</h3>
            <h3 class="pb-3 text-muted">Наша мета полягає в тому, щоб зробити вейпінг доступним та приємним для всіх, незалежно від досвіду користувача. Ми знаємо, як важливо мати зручний та ефективний спосіб насолоджуватися вейпінгом, і саме тому ми пропонуємо широкий вибір одноразових електронних сигарет від провідних виробників на ринку.</h3>
            <h3 class="pb-3 text-muted">У нашому асортименті ви знайдете відмінну якість та смакові відчуття, які неодмінно здивують вас своєю насиченістю та приємністю. Ми гарантуємо, що кожна одноразова електронна сигарета, яку ви отримаєте від OneTime, буде максимально ефективною та безпечною для використання.</h3>
            <h3 class="pb-3 text-muted">Наші ціни конкурентоспроможні та доступні, а доставка здійснюється в максимально короткі терміни. Ми прагнемо забезпечити наших клієнтів найвищою якістю обслуговування, щоб кожен візит на наш веб-сайт став для вас приємним та незабутнім досвідом.</h3>
            <h3 class="pb-3 text-muted">Приєднуйтесь до нашої спільноти OneTime та насолоджуйтеся вейпінгом від провідних виробників разом з нами. Наші одноразові електронні сигарети зроблять ваш день яскравішим та насиченішим!</h3>
            <div class="mt-5  mb-5 p-5 bg-warning text-dark shadow-lg p-3 mb-5  rounded">
                <div class="col-md-8 mx-auto ">
                    <h2 class="pt-3 text-center">Ми не продаємо свою продукцію дітям та неповнолітнім особам</h2>
                    <h2 class=" text-center">Вам є 18??</h2>
                    <div class="d-flex justify-content-around mx-auto w-50 p-3">
                        <a href="{% url 'shop:shop' %}">
                            <button type="button" class="btn btn-success ">Так</button>
                        </a>
                        
                        <a href="https://www.youtube.com/watch?v=Kd01GtuwnP8&ab_channel=%D0%A1%D0%BC%D0%B5%D1%88%D0%B0%D1%80%D0%B8%D0%BA%D0%B8.%D0%A1%D0%B1%D0%BE%D1%80%D0%BD%D0%B8%D0%BA%D0%B8%D1%81%D0%B5%D1%80%D0%B8%D0%B9">
                            <button type="button" class="btn btn-danger ">Ні</button>
                        </a>
                    </div> 
                </div>
            </div>
            <br>
            <br><br><br><br><br><br><br>
                
        </div>
    </div>
{% endblock content %}