{% extends 'shop/base.html' %}

{% block title %}
Register OneTime
{% endblock title %}


{% load crispy_forms_tags %}

{% block content %}
    <div class="row " style="height: 50em; width: 100%;">
        
        <form class="" method="post" action="{% url 'auth:register' %}">
            {% csrf_token %}
            <div class="w-25 mx-auto mt-5">
                <h1 class="text-center pb-5">Register</h1>
                {{ form|crispy }}
                <div class="pt-3 d-flex flex-row-reverse">
                    <button   class="btn btn-dark " name="submit">register</button>
                    <input type="hidden" name="next" value="{% url 'shop:index' %}" />
                </div>
                
            </div>        
            
         </form>
    </div>
    
{% endblock content %}